.footer {
  background-color: #9CE37D;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

.crudButton {
  padding: 0.75rem 1.5rem;
  background-color: white;
  color: #9CE37D;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.crudButton:hover {
  background-color: #8bd16a;
}