.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

.main {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa;
}
.footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 0;
}